    <div id="modal_visualizar" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ordenes Cargadas</h4>
                </div>
                <div class="modal-body ">
                    <table id='tblordenes' name='tblordenes' class='table table-bordered'>
                        <thead>
                            <th>ID_ORDEN</th>
                            <th>NUMERO_ORDEN</th>
                            <th>RUT_CLIENTE</th>
                            <th>ACTIVIDAD</th>
                            <th>COMUNA</th>
                            <th>CREACION</th>
                            <th>DIAS</th>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
