{% extends 'portal/portal' %}
{% block appStylos %}
<link rel="stylesheet" href="views\app\css\misEstilos.css">
    <link href="views/app/datedropper.css" rel="stylesheet" type="text/css" />
    <link href="views/app/template/dateDropper/datedropper.css" rel="stylesheet" type="text/css" />
    <link href="views/app/template/dateDropper/miDateDropper.css" rel="stylesheet" type="text/css" />
    <link rel="views/app/template/dateDropper/datedropper.js" href="/css/master.css">
    <script src="jquery.min.js"></script>

{% endblock %}
{% block appBody %}

<section class="content-header menu" id="menu" >
    <h1>
        Eventos
        <small>Detalle de Evento</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-home"></i>
                Home</a>
        </li>
        <li class="active">Bienvenida</li>
        <li>
            <a href="evento/listar_evento">Listado de Eventos</a>
        </li>
        <li class="active">
            <button type="button" name="button" class="btn btn-primary" onclick= location.href='evento/agregarEvento'>Agregar Evento</button>
        </li>
    </ol>
</section>
<br>
<div class="row">
    <div class="col col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Resumen Totalizado Eventos</h3>
            </div>
            <div class="box-body">
                <div class="col col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Resumen por Estados</h3>
                        </div>
                        <div class="box-body">
                            <table class="table">
                                <thead>
                                    <th>Estado</th>
                                    <th class="text-left">Cantidad</th>
                                    <th>Fecha a Mostrar</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Finalizado</td>
                                        <td>{{fin[0]}}</td>
                                        <td><input onchange="obtenerEventosFecha()" type="text" class="text-center" data-min-year='2018'  data-modal="false" data-fx="true" data-lang="es" data-format="Y/m/d" data-large-mode="true" data-large-default="true" data-lock="to" class="fechaMostrar" id="fechaMostrar"/></td>
                                    </tr>
                                    <tr>
                                        <td>Pendiente</td>
                                        <td>{{pen[0]}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block appScript %}

<script src="views/app/js/evento/evento.js" type="text/javascript"></script>
<script src="views/app/template/dateDropper/datedropper.js"></script>

<script>
$('input').dateDropper();
</script>
{% endblock %}
