{% extends 'portal/portal' %}
{% block appStylos %}
    <link rel="stylesheet" href="views/app/template/datatables/dataTables.bootstrap.css">
    <style media="screen">
        .at {
            display: none;
        }
    </style>
{% endblock %}
{% block appBody %}

    <section class="content-header menu" id="menu" >
        <h1>
            Listado Actividades
            <small>Detalle de Actividades</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-home"></i>
                    Home</a>
            </li>
            <li ><a href="escalamiento/escalamiento" >Principal</a></li>
            <li class="active">
                <button type="button" name="button" class="btn btn-primary" onclick= location.href='escalamiento/agregarEncargadoFiltrar'>Agregar Actividad</button>
            </li>
        </ol>
    </section>
    <br>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <table id="dataEscalamiento" name="dataordenes" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Id Actividad</th>
                                    <th>Rut Cliente</th>
                                    <th>Fecha Compromiso</th>
                                    <th>Canal</th>
                                    <th>Bloque </th>
                                    <th>Estado Escalamiento</th>
                                    <th>Tipo Actividad</th>
                                    <th>Gestion</th>
                                    <th>Hora Compromiso</th>
                                    <th>Estado Orden</th>
                                    <th>Creador</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block appScript %}
    <script src="views/app/template/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="views/app/template/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="views/app/js/escalamiento/escalamiento.js"></script>
    <script>
        $("#dataEscalamiento").dataTable({
            ajax: {
                url: "api/todasLasActividades",
                type: "POST"
              },
            "language": {
                "search": "Buscar:",
                "zeroRecords": "No hay datos para mostrar",
                "info": "Mostrando _END_ Registros, de un total de _TOTAL_ ",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "infoEmpty": "No hay entradas para mostrar",
                "lengthMenu": "Mostrar _MENU_ Filas",
                "paginate": {
                    "first": "Primera",
                    "last": "Ultima",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "autoWidth": true,
            "scrollX": true,
            "bSort": false
        });
    </script>
{% endblock %}
